<!DOCTYPE html>
<html lang="en">
<head>
    <!--! Header -->
    <%- include('./partials/_Header.ejs') %>
</head>
<body>
    <div class="background-filter"></div>
    
    <!--! Navbar -->
    <%- include('./partials/_Navbar.ejs') %>

    <div class="content container-fluid pt-4">
        <div class="row align-items-center justify-content-around">

            <!--? Online Users -->
            <div class="box user-list col-3">
                <div class="header"><h4>Online Users</h4></div>
                <ul id="online-users" class="list-group ">
                    <% users.forEach(u => { %>
                        <% if (u.isOnline) { %>
                            <li class="list-group-item">
                                <%= u.username %>
                            </li>
                        <% } else { %>
                            <li class="list-group-item list-group-item-dark">
                                <%= u.username %>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
            </div>

            <!--? Screen -->
            <div class="box chat-screen col-5">
                <div class="header"><h4>Chat</h4></div>
                <div id="screen" class="screen">
                    <div id="messages">
                        <!-- <div class="message left">
                            <div class="user-name">Fatih</div>
                            <div class="user-msg">Sa</div>
                            <div class="time">11:20</div>
                        </div>
                        <div class="message right">
                            <div class="user-name">Fatih</div>
                            <div class="user-msg">Lorem ipsum dolor sit amet.</div>
                            <div class="time">12:24</div>
                        </div> -->
                    </div>
                    <div id="feedback"></div>
                </div>
                <div class="message-box">
                    <input id="message" name="message" type="text" placeholder="Your Message...">
                    <button id="sendBtn"><i class="fa-solid fa-paper-plane"></i></button>
                </div>
            </div>

            <!--? User Panel -->
            <div class="box user-panel col-3">
                <div class="header"><h4>User Panel</h4></div>
                <button>Room 1</button>
                <button>Room 2</button>
            </div>
        </div>
        
    </div>
    <script src="/js/main.js"></script>
</body>
</html>